<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-sm-12 col-xl-10">
				<div class="bg-secondary rounded h-100 p-4">
					<h6 class="mb-4">All Orders</h6>
					<table class="table table-dark">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th>Address</th>
								<th scope="col">Payment</th>
								<th scope="col">Amount</th>
								<th scope="col">Status</th>
								<th scope="col">View</th>
								<th scope="col">Options</th>
							</tr>
						</thead>
						<tbody>
							{{#each orders}}
							<tr>
								<th scope="row">{{math @index '+'1}}</th>
								<td>{{this.deliveryDetails.city}}<br>
								{{this.deliveryDetails.place}}<br>
								{{this.deliveryDetails.housename}}<br>
								{{this.deliveryDetails.postoffice}},{{this.deliveryDetails.pincode}}</td>
								<td>{{this.paymentMethod}}</td>
								<td>{{this.totalAmount}}</td>
								<td>{{this.status}}</td>
								<td><a class="btn btn-info" href="/admin/vieworder-products?id={{this._id}}">View</a></td>
                                {{#isEqual this.status 'placed'}}
								<td><a href="/admin/cancel-order?id={{../this._id}}" class="btn btn-danger" onclick="return confirm ('Are you sure to cancel?')">Cancel</a>
								<a href="/admin/shipped-order?id={{../this._id}}" class="btn btn-info">Shipped</a>							
								</td>
								
                                {{/isEqual}}
                                {{#isEqual this.status 'canceled'}}
								<td><h6>CANCELLED</h6></td>
                                {{/isEqual}}
								{{#isEqual this.status 'shipped'}}
								<td><a href="/admin/cancel-order?id={{../this._id}}" class="btn btn-danger" onclick="return confirm ('Are you sure to cancel?')">Cancel</a>
								<a href="/admin/deliver-order?id={{../this._id}}" class="btn btn-info">Delivered</a></td>
								 {{/isEqual}}
								 {{#isEqual this.status 'delivered'}}
								  <td><h6>DELIVERED</h6></td>
								   {{/isEqual}}
									

							</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="product__pagination mt-5">
            {{#each pageCount}}
            <a href="/admin/orders?id={{this}}" class="text-white"><button class="btn btn-secondary rounded">{{this}}</button></a>  
		{{/each}}
						  {{!-- {{#unless (next to last page)}} --}}
            <a href="#"><i class="fa-sharp fa-solid fa-circle-chevron-right text-muted" ></i></a> 
						     {{!-- {{/unless}} --}}
         </div> 